@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
  --color-primary: #28A745;
  --color-black-light: #ced4da;
  --color-light: #fff;
  --color-black: #444;
  --color-title-black: #666;
  --color-transparent: rgba(0,0,0,0.7);
  --color-shadow: rgba(0, 0, 0, 0.10);
  --color-error: rgb(102, 5, 5);
  --color-green-dark: rgb(0,54,12);
  --color-orange: rgb(173, 80, 3);
}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: roboto;
  font-weight: 400;
  color: var(--color-black);
}
body, html, #root{
  font-size: 16px;
  overflow-x: hidden;
  height: 100vh;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: var(--color-transparent);
}
::-webkit-scrollbar-thumb{
  background: var(--color-primary);
  border-radius: 10px;
}
a{
  text-decoration: none;
  color: var(--color-black)
}
input,textarea, select{
  background: var(--color-light);
  outline: none;
  border: 2px solid var(--color-black-light);
  color: var(--color-black);
  border-radius: 10px;
  padding: 0px 10px;
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  transition: .2s ease-in-out;
}
button{
  background: none;
  outline: none;
  border: 1px solid var(--color-light);
  cursor: pointer;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 400;
}

.focusField{
  border-color: var(--color-primary);
  color: var(--color-primary);
}

#map{
  height: 100%;
}
.headerMenu{
  display: flex;
  align-items: center;
  background: var(--color-primary);
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0px;
  z-index: 9998;
}
.header-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  position: relative;
  margin: auto;
}
.link-home-logo{
  display: flex;
  margin: 0 10px;
}
.link-home-logo a{
  display: flex;
  align-items: center;
}
.link-home-logo a img{
  height: 30px;
}
.link-home-logo a span{
  display: flex;
  color: var(--color-light);
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 5px;
}
.links-menu{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  background: var(--color-primary);
}
.links-menu li{
  list-style: none;
  width: 90px;
  height: 100%;
  text-align: center;
  border-bottom: 2px solid var(--color-primary);
  transition: .2s;
}
.links-menu li:hover{
  border-color: var(--color-light);
}
.links-menu li a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--color-light);
}

.btnSignInHeader{
  margin-right: 10px;
  position: absolute;
  top: 35%;
  right: 10px;
}

.btnSignInHeader a{
  color: var(--color-light);
}

.logined{
  position: absolute;
  right: 10px;
  top: 19px
}

.logined .btnWithNameFoto{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  outline: none;
  background: none;
}

.logined .btnWithNameFoto .foto-header{
  flex: none;
  width: 25px;
  height: 25px;
  background: var(--color-light);
  border-radius: 50%;
}

.logined .btnWithNameFoto .name{
  display: block;
  margin: 0 5px;
  color: var(--color-light);
}

.logined .btnWithNameFoto .arrow-down{
  width: 16px;
  height: 16px;
}

.modal-manager-account{
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: var(--color-light);
  box-shadow: 6px 10px 20px rgba(0,0,0,0.2);
  padding: 15px 20px;
  border-radius: 10px;
  width: 160px;
}

.modal-manager-account .links-manager-account{
  list-style: none;
  width: 100%;
  height: 30px;
  margin: 5px 0;
}

.modal-manager-account .links-manager-account a, .modal-manager-account .links-manager-account button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.modal-signin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  background: var(--color-transparent);
}
.content-modal-signin{
  width: 330px;
  height: auto;
  border-radius: 7px;
  background: var(--color-light);
  padding: 20px;
}
.header-modal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.content-modal-signin h2{
  font-weight: 700;
  color: var(--color-primary);
}
.close-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}
.content-modal-signin a{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
}
.close-modal img{
  height: 100%;
}
.boxField{
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  margin-bottom: 15px;
}
.boxField label{
  display: block;
  margin-bottom: 10px;
}
.btnSubmit{
  width: 100%;
  height: 45px;
  background: var(--color-primary);
  color: var(--color-light);
  font-weight: 400;
}
.fieldError{
  border-color: var(--color-error);
}

.box-control-all{
  width: 100vw;
  height: auto;
}
.section-pattern{
  background: var(--color-primary);
  min-height: 100px;
  height: auto;
}
.section-boas-vindas .section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  height: 200px;
  margin: auto;
}
.section-boas-vindas .section-content *{
  text-align: center;
  color: var(--color-light);
}
.section-boas-vindas .section-content h1{
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.section-boas-vindas .section-content h3{
  font-size: 1.3rem;
}

.section-two{
  display: block;
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.section-two img{
  width: 100%;
  min-width: 500px;
  height: 100%;
  object-fit: cover;
}
.section-beneficios{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 400px;
  background: var(--color-green-dark);
  padding: 45px 0px
}
.section-beneficios *{color: var(--color-light)}
.title-section-beneficios{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}
.section-content-beneficios{
  width: 100%;
  max-width: 1050px;
  height: auto;
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
.section-content-beneficios .box-control-beneficios{
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
}
.section-content-beneficios .box-control-beneficios div{
  text-align: center;
}
.box-control-beneficios .box-individual{
  width: 300px;
}
.box-control-beneficios .box-individual .title-box-individual{
  font-size: 1.3rem;
}
.box-control-beneficios .box-individual .separator-title-content{
  width: 50px;
  height: 4px;
  background: var(--color-primary);
  border-radius: 15px;
  margin: 15px auto;
}
.box-control-beneficios .box-individual .content-box-individual{
  font-size: .95rem;
  line-height: 23px;
}
.link-pattern-home{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  margin: auto;
  border: 1px solid var(--color-light);
  border-radius: 7px;
}
.section-localizar-residuos{
  background: url("../assets/banner2.jpg") no-repeat;
  background-size: 100%;
  background-position: center;
  height: 300px;
  min-height: 300px;
}
.section-localizar-residuos .box-with-transparent{
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: var(--color-transparent);
}
.section-localizar-residuos .box-with-transparent .control{
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
}
.section-localizar-residuos .box-with-transparent .control div{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
  font-size: 3.5rem;
  text-align: center;
  font-weight: 500;
}

.section-localizar-residuos .box-with-transparent .link-pattern-home{color: var(--color-light); transition: .25s ease-in-out;}
.section-localizar-residuos .box-with-transparent .link-pattern-home:hover{
  background: var(--color-light);
  color: var(--color-black);
}

.control-main{
  width: 100vw;
  margin: auto;
  padding-top: 70px;
  transition: padding .3s ease-in-out;
}
.box-control-main{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.box-control-main .boxField{
  width: 100%;
}
.box-control-main .boxField20{width: 20%;}
.box-control-main .boxField:nth-child(2){
  margin-left: 10px;
}

/* pattern */

#carouselSite{
  margin-top: 66px;
}
#imgcadastroindex{
  width: 250px;
  height: 100px; 
}
#formcadastro{
  margin-top: 66px;
}
#iconePerfil{
  width: 106px;
  height:100px;
}

.patternColorResidues{
  border: 1px solid #ddd
}

.papel{
  border-color: rgb(4, 49, 250);
  color: rgb(4, 49, 250);
  
}
.plastico{
  border-color: rgb(150, 0, 0);
  color: rgb(150, 0, 0);
  
}
.vidro{
  border-color: rgba(5, 141, 0, 0.959);
  color: rgb(5, 153, 0);
  
}
.metal{
  border-color: rgb(178, 190, 0);
  color: rgb(178, 190, 0);
  
}
.pneu{
  border-color: rgb(129, 116, 57);
  color: rgb(129, 116, 57);
  
}
.pilhas{
  border-color: rgb(95, 146, 60);
  color: rgb(95, 146, 60);
}
.madeira{
  border-color: rgb(2, 2, 2);
  color: rgb(2, 2, 2);
  
}
.organico{
  border-color: rgba(88, 70, 8, 0.973);
  color: rgba(88, 70, 8, 0.973);
  
}
.residuos-perigosos{
  border-color: rgb(253, 160, 20);
  color: rgb(253, 160, 20);
  
}
.residuos-radioativos{
  border-color: rgb(114, 105, 141);
  color: rgb(114, 105, 141);
  
}
.nao-reciclaveis{
  border-color: rgb(155, 155, 155);
  color: rgb(155, 155, 155);
  
}
.ferro-velho{
  border-color: rgb(142, 199, 135);
  color: rgb(142, 199, 135);
  
}
.moveis-usados{
  border-color: rgb(125, 107, 145);
  color: rgb(125, 107, 145);
  
}
.roupas-calcados{
  border-color: rgb(136, 30, 26);
color: rgb(136, 30, 26);
  
}
.lampadas-flourecentes{
  border-color: rgb(170, 32, 101);
  color: rgb(170, 32, 101);
  
}

.errorFieldForm{
  border-width: 1px;
  border-style: solid;
  border-color: red;
}

#residues{
  margin-top: 100px;
}

.box-error-404{
  width: 100vw;
  height: 100vh;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-error-404 .content-error{
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
}
.box-error-404 .content-error *{
  color: var(--color-light);
  text-align: center;
}
.box-error-404 .content-error .oops{
  font-size: 10rem;
  font-weight: bold;
}
.box-error-404 .content-error img{
  width: 100px;
  height: 100px;
  margin: auto;
}
.box-error-404 .content-error span{
  font-size: 2rem;
  margin: 20px 0px;
}
.box-error-404 .content-error div{
  font-size: 0.99rem;
  margin-bottom: 20px;
}
.box-error-404 .content-error a{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-green-dark);
  width: 150px;
  height: 40px;
  border-radius: 7px;
  margin: auto;
}
.map{
  width: 100vw;
  height: 100vh;
}

.box-main-form{
  width: 100vw;
  max-width: 1280px;
  height: auto;
}

.box-main-form .header-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}

.box-main-form .header-form h1{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-title-black);
}
.box-main-form .header-form .add{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  width: 25px;
  height: 25px;
}
.box-main-form .header-form .add img{
  width: 80%;
  height: 80%;
}

.content-list{
  width: 100%;
  height: auto;
  min-height: 40px;
}

.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  margin: 7px 0px;
  border-radius: 7px;
  position: relative;
  transition: .25s ease-in-out;
}
.list *{
  font-size: 1rem;
}
.btnActions{
  display: flex;
  flex-direction: rows;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.btnActions div{
  flex: none;
  width: 4px;
  height: 4px;
  background: var(--color-black);
  border-radius: 50%;
  margin: 0 2px;
}
.actions-manager{
  display: block;
  background-color: var(--color-light);
  box-shadow: 1px 5px 15px var(--color-shadow);
  position: absolute;
  top: 50px;
  right: 10px;
  width: auto;
  min-width: 120px;
  height: auto;
  min-height: 20px;
  z-index: 100;
  padding: 5px;
  border-radius: 7px;
}
.actions-manager button{
  display: block;  
  margin: 9px auto;
  height: 30px;
  width: 100%;
}

.list:hover, .list-hover{
  box-shadow: 1px 4px 15px rgba(0,0,0,0.16);
}

.list-hover .btnActions{
  background: var(--color-primary);
  transform: rotateZ(180deg);
}

.list-hover .btnActions div{ background: var(--color-light); }

.title-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputSearch{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid var(--color-black-light);
  overflow: hidden;
}
.inputSearch button{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: 25px;
  height: 25px;
}
.inputSearch button img{
  width: 80%;
  height: 80%;
}
.inputSearch input{
  display: none;
  border: none;
  border-radius: 0;
}
.inputSearchActived{
  padding-left: 10px;
  animation: inputSearchActivedAnimation .4s forwards;
}

@keyframes inputSearchActivedAnimation{
  0%{
    width: 40px;
    border-radius: 50%;
    border-color: var(--color-black-light);
  }
  50%{
    width: 40px;
    border-radius: 10px;
  }
  100%{
    border-radius: 10px;
    width: 500px;
    border-color: var(--color-primary);
  }
}

.inputSearchActived button{
  justify-content: space-between;
}

.inputSearchActived input{
  display: flex;
}


.modal-control-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--color-transparent);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9998;
}

.box-login{
  background: var(--color-primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-login .boxField {
  position: relative;
}
.btnShowPassword{
  font-size: 0.8rem;
  font-weight: 500;
  background: none;
  border: none;
  color: var(--color-black);
  position: absolute;
  bottom: 11px;
  right: 15px;
}

.control-main-cadastro{
  color: var(--color-black-light);
}
.carrosel-cadastro{
  display: flex;
  width: 100%;
  max-width: 500px;
  height: auto;
  min-height: 200px;
  margin: 30px auto;
  overflow-x: hidden;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  scroll-behavior: smooth;
}

.carrosel-cadastro .box{
  flex: none;
  width: 100%;
  padding: 20px;
}

.carrosel-cadastro .box h1{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.control-btns-carrossel{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 30px;
  margin: 10px auto;  
}

.control-btns-carrossel button{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  transition: .2s ease-in-out;
}

.btnActivedCarrossel{
  background: var(--color-primary);
}
/* .person-access{
} */
.person-access .control{
  padding: 10px 0px;
}

.boxFieldCheckbox{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.boxFieldCheckbox input{
  flex: none;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.box-control-message{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: auto;
  max-height: 80vh;
  min-height: 50px;
}

.message{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.25);
  height: auto;
  min-height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  color: var(--color-light);
  border-radius: 10px;
  text-align: center;
  flex: none;
}

.error{
  background: var(--color-error);
}
.success{
  background: var(--color-primary);
}
.await{
  background: var(--color-orange);
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background: var(--color-primary);
  color: var(--color-light);
  font-size: 1.1rem;
}
@media(max-width: 1200px){
  .control-main{
    width: 95vw;
  }
}
@media(max-width: 1000px){
  body, input, select, textarea, button{
    font-size: 17px;
  }
  .text-logo{
    display: none;
  }
  .box-control-banners div{
    background-size: 120%;
  }
  .section-content-beneficios .box-control-beneficios{
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .box-control-beneficios .box-individual{
    width: 100%;
    margin-bottom: 40px;
  }
  .section-localizar-residuos{
    background-size: 200%;
  }
  .section-localizar-residuos .box-with-transparent .control div{
    font-size: 2.5rem;
  }
  .box-control-main{
    display: block;
  }
  .box-control-main .boxField20{width: 100%;}
  .box-control-main .boxField:nth-child(2){
    margin-left: 0px;
  }
}

@media(max-width: 660px){
  .header-nav{
    width: 100%;
  }
  .links-menu{
    flex-direction: column;
    margin-left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100px;
    display: none;
    transition: .2s ease-in-out;
  }

  .box-main-form .header-form{
    flex-direction: column;
  }
  .box-main-form .header-form h1{
    margin-bottom: 20px;
  }
}