@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
  --color-primary: #28A745;
  --color-primary-opacity: #28a74681;
  --color-black-light: #ced4da;
  --color-light: #fff;
  --color-black: #444;
  --color-title-black: #666;
  --color-transparent: rgba(0,0,0,0.4);
  --color-shadow: rgba(0, 0, 0, 0.3);
  --color-error: rgb(102, 5, 5);
  --color-green-dark: rgb(0,54,12);
  --color-orange: rgb(173, 80, 3);
  --color-blue: rgb(12, 153, 163);
  --color-roxo: rgb(79, 54, 223);
}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: roboto;
  font-weight: 400;
  color: var(--color-black);
}
body, html, #root{
  font-size: 16px;
  overflow-x: hidden;
  height: auto;
  min-height: 100vh;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: var(--color-transparent);
}
::-webkit-scrollbar-thumb{
  background: var(--color-primary);
  border-radius: 10px;
}
a{
  text-decoration: none;
  color: var(--color-black)
}
input,textarea, select{
  background: var(--color-light);
  outline: none;
  border: 2px solid var(--color-black-light);
  color: var(--color-black);
  border-radius: 10px;
  padding: 0px 10px;
  width: 100%;
  height: 45px;
  font-weight: 400;
  font-size: 16px;
  transition: .2s ease-in-out;
}
button{
  background: none;
  outline: none;
  border: 1px solid var(--color-light);
  cursor: pointer;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 400;
  flex: none;
}

button img{
  width: 60%;
  height: 60%;
}

.focusField{
  border-color: var(--color-primary);
  color: var(--color-primary);
}

#map{
  height: 100%;
}
#headerMenu{
  display: flex;
  align-items: center;
  background: var(--color-primary);
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0px;
  z-index: 9998;
}
.header-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  position: relative;
  margin: auto;
}
.link-home-logo{
  display: flex;
  margin: 0 10px;
}
.link-home-logo a{
  display: flex;
  align-items: center;
}
.link-home-logo a img{
  height: 30px;
}
.link-home-logo a span{
  display: flex;
  color: var(--color-light);
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 5px;
}
.links-menu{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  background: var(--color-primary);
}
.links-menu li{
  list-style: none;
  width: 90px;
  height: 100%;
  text-align: center;
  border-bottom: 2px solid var(--color-primary);
  transition: .2s;
}
.links-menu li:hover{
  border-color: var(--color-light);
}
.links-menu li a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--color-light);
}

.btnSignInHeader{
  margin-right: 10px;
  position: absolute;
  top: 35%;
  right: 10px;
}

.btnSignInHeader a{
  color: var(--color-light);
}

.logined{
  position: absolute;
  right: 10px;
  top: 19px
}

.logined .btnWithNameFoto{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  outline: none;
  background: none;
}

.logined .btnWithNameFoto .foto-header{
  flex: none;
  width: 25px;
  height: 25px;
  background: var(--color-light);
  border-radius: 50%;
}

.logined .btnWithNameFoto .name{
  display: block;
  margin: 0 5px;
  color: var(--color-light);
}

.logined .btnWithNameFoto .arrow-down{
  width: 16px;
  height: 16px;
}

.modal-manager-account{
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: var(--color-light);
  box-shadow: 6px 10px 20px rgba(0,0,0,0.2);
  padding: 15px 20px;
  border-radius: 10px;
  width: 160px;
}

.modal-manager-account .links-manager-account{
  list-style: none;
  width: 100%;
  height: 30px;
  margin: 5px 0;
}

.modal-manager-account .links-manager-account a, .modal-manager-account .links-manager-account button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.modal-signin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  background: var(--color-transparent);
}
.content-modal-signin{
  width: 400px;
  height: auto;
  max-height: 90vh;
  border-radius: 7px;
  background: var(--color-light);
  box-shadow: 0px 7px 15px var(--color-shadow);
  padding: 20px;
  overflow-y: scroll;
  animation: content-modal-signin-animation .2s forwards;
}

@keyframes content-modal-signin-animation {
  0%{
    transform: translateY(25px);
  }
  100%{
    transform: translateY(0);
  }
}
.header-modal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.content-modal-signin h2{
  font-weight: 700;
  color: var(--color-primary);
}
.content-modal-signin h3{
  margin: 25px 0px;
}
.close-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.content-modal-signin a{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
}

.blur{
  filter: blur(1.5px);
}

.boxFieldFlex{
  display: flex;
  justify-content: space-between;
}

.boxField{
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 15px;
}
.boxField label{
  display: block;
  margin-bottom: 10px;
}
.btnSubmit{
  width: 100%;
  height: 45px;
  background: var(--color-primary);
  color: var(--color-light);
  font-weight: 400;
}
.fieldError{
  border-color: var(--color-error);
}

.box-control-all{
  width: 100vw;
  height: auto;
}
.section-pattern{
  background: var(--color-primary);
  min-height: 100px;
  height: auto;
}
.section-boas-vindas .section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  height: 200px;
  margin: auto;
}
.section-boas-vindas .section-content *{
  text-align: center;
  color: var(--color-light);
}
.section-boas-vindas .section-content h1{
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.section-boas-vindas .section-content h3{
  font-size: 1.3rem;
}

.section-two{
  display: block;
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.section-two img{
  width: 100%;
  min-width: 500px;
  height: 100%;
  object-fit: cover;
}
.section-beneficios{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 400px;
  background: var(--color-green-dark);
  padding: 45px 0px
}
.section-beneficios *{color: var(--color-light)}
.title-section-beneficios{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}
.section-content-beneficios{
  width: 100%;
  max-width: 1050px;
  height: auto;
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
.section-content-beneficios .box-control-beneficios{
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
}
.section-content-beneficios .box-control-beneficios div{
  text-align: center;
}
.box-control-beneficios .box-individual{
  width: 300px;
}
.box-control-beneficios .box-individual .title-box-individual{
  font-size: 1.3rem;
}
.box-control-beneficios .box-individual .separator-title-content{
  width: 50px;
  height: 4px;
  background: var(--color-primary);
  border-radius: 15px;
  margin: 15px auto;
}
.box-control-beneficios .box-individual .content-box-individual{
  font-size: .95rem;
  line-height: 23px;
}
.link-pattern-home{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  margin: auto;
  border: 1px solid var(--color-light);
  border-radius: 7px;
}
.section-localizar-residuos{
  background: url("../assets/banner2.jpg") no-repeat;
  background-size: 100%;
  background-position: center;
  height: 300px;
  min-height: 300px;
}
.section-localizar-residuos .box-with-transparent{
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: var(--color-transparent);
}
.section-localizar-residuos .box-with-transparent .control{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section-localizar-residuos .box-with-transparent .control div{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
  font-size: 3.5rem;
  text-align: center;
  font-weight: 500;
}

.section-localizar-residuos .box-with-transparent .link-pattern-home{color: var(--color-light); transition: .25s ease-in-out;}
.section-localizar-residuos .box-with-transparent .link-pattern-home:hover{
  background: var(--color-light);
  color: var(--color-black);
}

.control-main{
  width: 100vw;
  margin: auto;
  padding-top: 70px;
  transition: padding .3s ease-in-out;
}
.box-control-main{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.box-control-main .boxField{
  width: 100%;
}
.box-control-main .boxField20{width: 20%;}
.box-control-main .boxField:nth-child(2){
  margin-left: 10px;
}

/* pattern */

#carouselSite{
  margin-top: 66px;
}
#imgcadastroindex{
  width: 250px;
  height: 100px; 
}
#formcadastro{
  margin-top: 66px;
}
#iconePerfil{
  width: 106px;
  height:100px;
}

.patternColorResidues{
  border: 1px solid #ddd
}

.papel{
  border-color: rgb(4, 49, 250);
  color: rgb(4, 49, 250);
  
}
.plastico{
  border-color: rgb(150, 0, 0);
  color: rgb(150, 0, 0);
  
}
.vidro{
  border-color: rgba(5, 141, 0, 0.959);
  color: rgb(5, 153, 0);
  
}
.metal{
  border-color: rgb(178, 190, 0);
  color: rgb(178, 190, 0);
  
}
.pneu{
  border-color: rgb(129, 116, 57);
  color: rgb(129, 116, 57);
  
}
.pilhas{
  border-color: rgb(95, 146, 60);
  color: rgb(95, 146, 60);
}
.madeira{
  border-color: rgb(2, 2, 2);
  color: rgb(2, 2, 2);
  
}
.organico{
  border-color: rgba(88, 70, 8, 0.973);
  color: rgba(88, 70, 8, 0.973);
  
}
.residuos-perigosos{
  border-color: rgb(253, 160, 20);
  color: rgb(253, 160, 20);
  
}
.residuos-radioativos{
  border-color: rgb(114, 105, 141);
  color: rgb(114, 105, 141);
  
}
.nao-reciclaveis{
  border-color: rgb(155, 155, 155);
  color: rgb(155, 155, 155);
  
}
.ferro-velho{
  border-color: rgb(142, 199, 135);
  color: rgb(142, 199, 135);
  
}
.moveis-usados{
  border-color: rgb(125, 107, 145);
  color: rgb(125, 107, 145);
  
}
.roupas-calcados{
  border-color: rgb(136, 30, 26);
color: rgb(136, 30, 26);
  
}
.lampadas-flourecentes{
  border-color: rgb(170, 32, 101);
  color: rgb(170, 32, 101);
  
}

.errorFieldForm{
  border-width: 1px;
  border-style: solid;
  border-color: red;
}

#residues{
  margin-top: 100px;
}

.box-error-404{
  width: 100vw;
  height: 100vh;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-error-404 .content-error{
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
}
.box-error-404 .content-error *{
  color: var(--color-light);
  text-align: center;
}
.box-error-404 .content-error .oops{
  font-size: 10rem;
  font-weight: bold;
}
.box-error-404 .content-error img{
  width: 100px;
  height: 100px;
  margin: auto;
}
.box-error-404 .content-error span{
  font-size: 2rem;
  margin: 20px 0px;
}
.box-error-404 .content-error div{
  font-size: 0.99rem;
  margin-bottom: 20px;
}
.box-error-404 .content-error a{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-green-dark);
  width: 150px;
  height: 40px;
  border-radius: 7px;
  margin: auto;
}
.map{
  width: 100vw;
  height: 100vh;
}

.box-main-form{
  width: 100vw;
  max-width: 1280px;
  height: auto;
  margin-bottom: 100px;
}

.box-main-form .header-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}
.title-and-add{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.box-main-form .header-form h1{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-title-black);
}
.box-main-form .header-form .add{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  width: 25px;
  height: 25px;
}
.box-main-form .header-form .add img{
  width: 80%;
  height: 80%;
}

.content-list{
  width: 100%;
  height: auto;
  min-height: 40px;
}

.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  margin: 7px 0px;
  border-radius: 7px;
  position: relative;
  transition: .25s ease-in-out;
}
.list *{
  font-size: 1rem;
}
.main-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}
.main-list span{
  display: block;
}

.list-item-secundary{
  text-align: center;
  width: 50%;
}

.image-list{
  flex: none;
  width: 25px;
  height: 25px;
  background-color: var(--color-black-light);
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}

.image-list img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnActions{
  display: flex;
  flex-direction: rows;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.btnActions div{
  flex: none;
  width: 4px;
  height: 4px;
  background: var(--color-black);
  border-radius: 50%;
  margin: 0 2px;
}
.actions-manager{
  display: block;
  background-color: var(--color-light);
  box-shadow: 1px 5px 15px var(--color-shadow);
  position: absolute;
  top: 30px;
  right: 10px;
  width: auto;
  min-width: 120px;
  height: auto;
  min-height: 20px;
  z-index: 100;
  padding: 5px;
  border-radius: 7px;
  opacity: 0;
  animation: actions-manager-show-animation .2s forwards;
}

@keyframes actions-manager-show-animation{
  0%{
    opacity: 0;
    top: 30px
  }
  100%{
    opacity: 1;
    top: 50px;
  }
}

.actions-manager button{
  display: block;  
  margin: 9px auto;
  height: 30px;
  width: 100%;
}

.list:hover, .list-hover{
  box-shadow: 1px 4px 15px rgba(0,0,0,0.16);
}

.list-hover .btnActions{
  transform: rotateZ(180deg);
}

.list-hover .btnActions div{ background: var(--color-primary); }

.filter-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputSearch{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: auto;
  margin-right: 15px;
  padding: 0 10px;
  border-radius: 10px;
  border: 2px solid var(--color-black-light);
  background: var(--color-light);
  transition: .4s ease-in-out;
}
.inputSearch button{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: 25px;
  height: 25px;
}
.inputSearch button img{
  width: 80%;
  height: 80%;
}
.inputSearch input{
  border: none;
  border-radius: 0;
}
.inputSearchActived{
  border-color: var(--color-primary);
}

.filter-search-map{
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 65px;
  right: 0;
  padding: 0 10px;
  z-index: 9980;
}

.filter-search-map .inputSearch{
  width: 100%;
  margin: 0;
}

.filter-search-map .btns-filter-map-search{
  width: 100%;
  display: flex;
  margin-top: 5px;
}

.filter-search-map .btns-filter-map-search button{
  background: var(--color-primary);
  color: var(--color-light);
  padding: 5px 10px;
  font-size: 0.95rem;
  margin-right: 5px;
  border: none;
}

.filter{
  background: var(--color-primary);
  width: 45px;
  height: 45px;
  margin: 0;
}


.modal-control-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--color-transparent);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9998;
  animation: modal-control-box-animated .3s forwards;
}

.box-login{
  background: var(--color-primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-login .boxField {
  position: relative;
}
.btnShowPassword{
  font-size: 0.8rem;
  font-weight: 500;
  background: none;
  border: none;
  color: var(--color-black);
  position: absolute;
  bottom: 11px;
  right: 15px;
}

.control-main-cadastro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-black-light);
  background: var(--color-primary);
  height: auto;
  min-height: 100vh;
}
.carrosel-cadastro{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
  width: 100%;
  padding: 20px;
  background: var(--color-light);
}

.carrosel-cadastro .header-box{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: .80rem;
}

.carrosel-cadastro .header-box h1{
  color: var(--color-primary);
  font-weight: 500;
}

.person-access .control{
  padding: 10px 0px;
}

.boxFieldCheckbox{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.boxFieldCheckbox input{
  flex: none;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.box-control-message{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: auto;
  max-height: 80vh;
  min-height: 50px;
}

.message{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.25);
  height: auto;
  min-height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  color: var(--color-light);
  border-radius: 10px;
  text-align: center;
  flex: none;
}

.error{
  background: var(--color-error);
}
.success{
  background: var(--color-primary);
}
.await{
  background: var(--color-orange);
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background: var(--color-primary);
  color: var(--color-light);
  font-size: 1.1rem;
}

.file-input{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  margin: 15px auto;
  background: var(--color-black-light);
}
.file-input label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.file-input label img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.file-input input{
  display: none;
}

.choise-type-person{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.button-choise-type-person{
  height: 50px;
  width: 30%;
  border: 2px solid var(--color-black-light)
}

.choise-type-person-selected {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-light);
}

.choise-rediues{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.choise-residues-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: 180px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid var(--color-black-light);
  transition: .2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.choise-residues-item img{
  width: 90px;
  height: 90px;
}

.choise-residues-item span{
  margin-top: 20px;
  text-align: center;
}

.choise-residues-item-selected{
  border-color: var(--color-primary);
}

.choise-residues-item-selected::after{
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background: var(--color-primary);
}

.split-residues-from-person{
  display: flex;
  align-items: center;
  height: 100%;
}

.type-residues-from-person{
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 7px;
  color: var(--color-light);
  text-transform: capitalize;
  font-size: .9rem;
}

.comprador{ background: var(--color-primary);}
.gerador{ background: var(--color-blue);}
.catador{ background: var(--color-roxo);}

.overlay-view-my-position{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--color-primary);
  position: relative;
  z-index: 9997;
}

.overlay-view-my-position::before{
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  flex: none;
  background: var(--color-primary-opacity);
  border: 2px solid var(--color-primary);
  animation: overlay-view-my-position-animation 1.2s ease-in-out infinite;
}

@keyframes overlay-view-my-position-animation{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.8);
    opacity: 0;
  }
}

.control-main-map{
  padding-top: 60px;
  height: 100vh;
}
.mapboxgl-marker{
  width: 30px;
  height: 30px;
  transition: .15s ease-in-out;
  cursor: pointer !important;
}

.perfil-map{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--color-primary);
  border: 2px solid var(--color-light);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  flex: none;
}

.perfil-map img{
  width: 100%;
  object-fit: cover;
}

.modal-marker{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--color-transparent);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 9999;
}

.marker-actived{
  width: 500px;
  height: auto;
  min-height: 150px;
  margin: 10px 0px;
  border-radius: 50px;
  animation: marker-actived-animation 1s forwards;
}

@keyframes marker-actived-animation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.marker-actived .perfil-map{
  height: 230px;
  border-radius: 0%;
  border: none;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  flex: none;
}

.marker-actived .information-person-map{
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: var(--color-light);
}

.information-person-map-personName{
  font-size: 2rem;
  text-align: center;
}

.fpigpfirst{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
}

.fpigpfirst .foto-profile{
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  flex:none;
  border: 3px solid var(--color-light);
  box-shadow: 5px 5px 15px var(--color-shadow);
  background: var(--color-black-light);
}

.fpigpfirst .foto-profile img{
  width: 100%;
}

.fpigpfirst .igp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  color: var(--color-primary);
}

.fpigpfirst .document{
  margin-top: 10px;
}

.section-contact{
  width: 100%;
  height: auto;
  margin-top: 30px;
  font-size: 1.1rem;
}

.section-contact-title{
  display: flex;
  align-content: center;
  justify-content: center;
  height: 140px;
  background: var(--color-primary);
}

.section-contact h2{
  line-height: 120px;
  height: 100%;
  text-align: center;
  color: var(--color-light);
  font-size: 1.9rem;
}

.section-contact-content{
  width: 100%;
  height: 120px;
  position: relative;
  margin: auto;
}

.section-contact-content div{
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  width: 500px;
  height: 120px;
  background: var(--color-light);
  box-shadow: 4px 4px 15px var(--color-shadow);
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.section-contact-content div span{
  text-align: center;
}

.section-address{
  margin-top: 15px;
}

.section-address h2{
  text-align: center;
  color: var(--color-primary);
}

.section-address .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 15px auto;
}

.section-address .content span{
  display: block;
  margin: 3px 0;
}

.section-residues{
  border-top: 5px solid var(--color-primary);
  margin: 50px 0 20px 0;
  height: auto;
  min-height: 100px;
  padding-top: 30px;
}

.section-residues h2{
  text-align: center;
  color: var(--color-primary);
}
.section-residues .choise-rediues{
  max-width: 1200px;
  padding-top: 30px;
}

.loading-field{
  background: var(--color-black-light);
  width: 100%;
  max-width: 400px;
  height: 20px;
  border-radius: 10px;
  margin: auto;
  animation: loading 2s infinite;
}

@keyframes loading{
  0%, 100%{
    opacity: 1;
  }

  50%{
    opacity: 0.3;
  }
}

.loading-residues{
  animation: loading-residues 2s infinite;
}

@keyframes loading-residues {
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0.3;
  }
}

@media(max-width: 1200px){
  .control-main{
    width: 95vw;
  }
  .control-main-cadastro{
    width: 100vw;
  }
  .carrosel-cadastro{
    width: 90%;
    margin: 0 auto;
  }
  .control-main-map{ width: 100vw }
}
@media(max-width: 1000px){
  body, input, select, textarea, button{
    font-size: 17px;
  }
  .text-logo{
    display: none;
  }
  .box-control-banners div{
    background-size: 120%;
  }
  .section-content-beneficios .box-control-beneficios{
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .box-control-beneficios .box-individual{
    width: 100%;
    margin-bottom: 40px;
  }
  .section-localizar-residuos{
    background-size: 200%;
  }
  .section-localizar-residuos .box-with-transparent .control div{
    font-size: 2.5rem;
  }
  .box-control-main{
    display: block;
  }
  .box-control-main .boxField20{width: 100%;}
  .box-control-main .boxField:nth-child(2){
    margin-left: 0px;
  }
}

@media(max-width: 660px){
  .header-nav{
    width: 100%;
  }
  .links-menu{
    flex-direction: column;
    margin-left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100px;
    display: none;
    transition: .2s ease-in-out;
  }
  .box-main-form .header-form h1{
    margin-bottom: 20px;
  }
}